.container {
	display: flex;
	flex-direction: column;
	padding: 2rem 10rem;
	margin-bottom: 5rem;
	video {
		height: 90vh;
	}
	.image-container {
		height: 95vh;
		margin-top: 3rem;
		display: flex;
		background-color: #000;
		justify-content: center;
		img {
			height: 100%;
		}
	}
}
