@import '../../../../styles/variable.scss';


.list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    background-color: $bg;
}


.list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    margin: 1rem;
    &__head{
        font-size: 4.5rem;
        margin-bottom: 3rem;
    }
    &__points{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.3rem;
        margin-bottom: 1rem;

        h3{
            margin-left: .5rem;
        }
    }
    &-btn{
       margin-top: 3rem;
    }
}

.image{
    background-image: url(../../../../../public/images/background/selling.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 80%;

    border-radius: 10px;
}