@import '../../../styles/variable.scss';
@import '../../../styles/utils.scss';
.property-section {
	margin-top: 4rem;
	margin-bottom: 6rem;
}

.image-grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 3rem);
	gap: 1.5rem;
	padding: 0 2rem;
	@media screen and (max-width: 900px) {
		grid-template-rows: repeat(12, 5rem);
	}
	@media screen and (max-width: 900px) {
		grid-template-rows: repeat(12, 8rem);
	}

	&__btns {
		grid-column: 1 / 2;
		grid-row: 1 / 3;
		display: flex;
		padding: 0.5rem;
		@media screen and (max-width: 900px) {
			grid-row: 1/2;
		}

		button {
			margin: 0 0.5rem;
		}
	}

	&__image {
		height: 100%;
		width: 100%;
		object-fit: contain;

		&--1 {
			width: contain;
			grid-column: 1 / 8;
			grid-row: 1 / 13;
			@media screen and (max-width: 900px) {
				grid-column: 1 / 13;
				grid-row: 1 / 8;
			}
			@media screen and (max-width: 650px) {
				grid-column: 1 / 13;
				grid-row: 1 / 5;
			}
		}

		&--2 {
			grid-column: 8 / 13;
			grid-row: 1 / 7;
			width: contain;

			@media screen and (max-width: 900px) {
				grid-column: 1 / 6;
				grid-row: 8 / 13;
			}
			@media screen and (max-width: 650px) {
				grid-column: 1 / 13;
				grid-row: 5 / 9;
			}
		}

		&--3 {
			width: contain;

			grid-column: 8 / 13;
			grid-row: 7 / 13;
			@media screen and (max-width: 900px) {
				grid-column: 6 / 13;
				grid-row: 8 / 13;
			}
			@media screen and (max-width: 650px) {
				grid-column: 1 / 13;
				grid-row: 9 / 13;
			}
		}
	}
	.allimages {
		// grid-row: 11/12;
		// grid-column: 12/13;
		@media screen and (max-width: 900px) {
			// grid-row: 12/13;
		}
	}
}

.heading-section {
	display: flex;
	align-items: center;

	&_sub {
		padding: 1rem 0 3rem 1.5rem;
	}

	&_addr {
		font-size: 1.3rem;
		font-weight: 600;
	}

	&_link {
		font-size: 1rem;
	}
}

.pricing-section {
	padding: 0 4rem;

	&__prices {
		display: flex;
		align-items: center;
		@media screen and (max-width: 500px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&_heading {
		margin: 1rem 0;
		font-size: 2rem;
	}

	&_item {
		display: flex;
		align-items: flex-end;
		border-radius: 5px;
		padding: 1rem;
		background-color: #f5f5f5;

		h3 {
			color: $color-black;
			font-size: 2rem;
			padding: 0 2rem;
		}
		svg {
			color: $color-black !important;
			font-size: 2rem !important;
		}
		.special-price {
			font-size: 2rem;
			padding-left: 0;
		}
	}

	.space {
		margin-right: 8rem;
		@media screen and (max-width: 500px) {
			margin-bottom: 2rem;
		}
	}
}

.facilities-section {
	padding: 0 4rem;

	&__facilities {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
		gap: 10px;

		@media screen and (max-width: 900px) {
			grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
		}
	}

	&_heading {
		margin-top: 2rem;
		margin-bottom: 2rem;
		font-size: 2rem;
	}

	&_item {
		display: flex;
		align-items: center;
		background-color: #f5f5f5;
		border-radius: 5px;
		padding: 0.5rem;

		h3 {
			font-size: 2rem;
			padding: 0 1rem;
		}
	}
}

.other-facilities-section {
	padding: 0 4rem;

	h1 {
		margin-top: 2rem;
		margin-bottom: 2rem;
		font-size: 2rem;
	}

	ul {
		list-style: none;

		li {
			font-size: 1.5rem;
		}
	}
}

.description-section {
	padding: 0 4rem;

	h1 {
		margin-top: 2rem;
		margin-bottom: 2rem;
		font-size: 2rem;
	}

	p {
		font-size: 1.5rem;
		line-height: 1.5;
		white-space: pre-line;
	}
}

.link {
	font-size: 1.6rem;
	color: $color-primary;
	text-decoration: underline;
	padding: 2rem 4rem;
}
.model {
	height: 60% !important;
	width: 35% !important;

	@media screen and (max-width: 800px) {
		width: 80% !important;
	}
	&-container {
		display: flex;
		flex-direction: column !important;
		align-items: center;
	}

	span {
		font-size: 1.5rem;
		margin-bottom: 1rem;
		cursor: pointer;
		text-decoration: underline;
		transition: $transition-fast;

		&:hover {
			color: $color-primary;
		}
	}

	.model-container__input {
		margin: 1.5rem 0;

		input {
			font-size: 1.5rem !important;
		}

		label {
			font-size: 1.5rem !important;
			background-color: $color-background !important;
		}
	}
}

.amenities-section {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
	padding: 0 4rem;

	.amenities-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		// justify-content: space-around;
		margin: 1rem 0;
	}
	&__number,
	&__name {
		margin-left: 1rem;
		font-size: 1.5rem;
		font-weight: 600;
		@media screen and (max-width: 500px) {
			font-size: 2rem;
		}
	}
	&__heading {
		margin-top: 2rem;
		font-size: 2rem;
		padding: 0 4rem;
	}
	img {
		height: 3.5rem;
	}
}
