@import '../../../styles/variable.scss';

.footer-content {
	display: flex;
	padding: 10rem 35rem;
	justify-content: space-evenly;
	&__left {
		width: 33.333%;
		h1 {
			font-size: 2.2rem;
			line-height: 26px;
			font-weight: 700;
			margin-bottom: 1rem;
		}
		p {
			font-size: 1.2rem;
			margin-bottom: 1.2rem;
		}
		&-social {
			padding-top: 1rem;
			a {
				text-decoration: none;
				color: $color-black;
                background-color: #eee;
				margin-right: 1rem;
                padding: 0.5rem;
                &:hover {
					color: $color-primary;
				}
				&:last-child {
					margin-right: 0;
				}
				svg {
					font-size: 2rem !important;
				}
			}
		}
	}
	&__centre {
		width: 33%;
		h2 {
			font-size: 1rem;
			font-weight: 200;
			margin-bottom: 2rem;
		}
	}
}
