@import '../../../styles/variable.scss';
@import '../../../styles/mixins.scss';

.footer {
	position: absolute;
	bottom: 0;
}

.footer-content {
	@include section-padding;
	display: flex;
	justify-content: space-evenly;
	background-color: #f7f7f7;
	width: 100%;
	margin: 0px auto;
	padding-top: 2rem;
	padding-bottom: 2rem;

	@media screen and (max-width: 800px) {
		flex-direction: column;
	}

	h1 {
		color: $color-primary;
		font-size: 2.2rem;
		line-height: 30px;
		font-weight: 700;
		margin-bottom: 1.5rem;

		@media screen and (max-width: 800px) {
			font-size: 2.5rem !important;
			text-align: center;
		}
	}

	p {
		font-size: 1.4rem;
		margin-left: 0.5rem;

		@media screen and (max-width: 800px) {
			font-size: 2rem !important;
		}
	}

	&__left {
		width: 33.333%;

		@media screen and (max-width: 800px) {
			width: 100%;
		}

		&-social {
			margin-top: 2rem;

			a {
				color: $color-black;
				padding: 0.5rem;
				margin-right: 0.5rem;

				&:last-child {
					margin-right: 0;
				}
				svg {
					font-size: 2rem !important;
					@media screen and (max-width: 800px) {
						font-size: 3rem !important;
					}

					&:hover {
						fill: $color-primary;
					}
				}
			}
		}
	}

	&__contact {
		display: flex;
		align-items: center;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}

		svg:hover {
			fill: $color-primary;
		}
	}

	&__centre {
		width: 33%;
		@media screen and (max-width: 800px) {
			width: 100%;
		}
		h2 {
			font-size: 1rem;
			font-weight: 200;
			margin-bottom: 2rem;
		}
	}
}

.secondChild {
	margin-top: 2rem;
}
