.admin-page {
	&__heading {
		margin: 2rem !important;
		font-size: 2.5rem !important;
	}

	&__sub-heading {
		margin: 2rem !important;
		font-size: 2rem !important;
	}

	&__table {
		margin: 2rem !important;
	}

	&_location {
		height: 5rem !important;
		width: 4.5rem !important;
	}
}

.table_address {
	display: flex !important;
	align-items: center !important;
}

.filters {
	display: flex;
	align-items: center;
}

.filter-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
