@import '../../../styles/variable.scss';

.checkbox {
	font-size: 2rem !important;

	input,
	svg {
		height: 2rem !important;
		width: 2	rem !important;
	}

	span {
		font-size: inherit !important;
	}

	svg {
		fill: $color-primary !important;
	}
}
