@import '../../../styles/variable.scss';

.login-section {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5rem 0;

	&__modal {
		display: flex;
		flex-direction: column;
		align-items: center;

		h2,
		button {
			margin: 1.4rem 0;
		}

		&-input {
			margin: 1.4rem 0;

			input {
				font-size: 1.5rem !important;
			}

			label {
				font-size: 1.5rem !important;
				background-color: $color-white;
			}
		}
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 70%;
		border-radius: 2rem;
		padding: 1.5rem 4rem;
		box-shadow: $shadow-secondary;
		@media screen and (max-width: 900px) {
			flex-direction: column;
			width: 80%;
		}
	}

	&__form {
		width: 40%;
		flex-direction: column;
		display: flex;
		align-items: center;
		@media screen and (max-width: 900px) {
			margin-top: 4rem;
			width: 100%;
		}
	}

	&__image {
		height: 50rem;
		width: 50rem;
		@media screen and (max-width: 900px) {
			height: 40rem;
			width: 40rem;
		}
	}

	&__input {
		margin: 1rem 0 !important;

		input {
			font-size: 1.4rem !important;
		}

		label {
			font-size: 1.4rem !important;
			background-color: $color-white;
		}
	}

	&__link {
		font-size: 1.4rem;

		@media screen and (max-width: 900px) {
			margin-top: 1rem;
			font-size: 2rem;
		}

		a {
			color: $color-secondary;
			font-weight: bold;
			font-size: 1.5rem;
			text-decoration: underline;
			transition: $transition-fast;

			&:hover {
				color: #000;
			}
		}

		span {
			color: $color-primary;
			text-decoration: underline;
			transition: $transition-fast;
			cursor: pointer;

			&:hover {
				color: #000;
			}
		}
	}

	&__btn {
		margin-top: 2rem !important;
		@media screen and (max-width: 900px) {
			font-size: 2rem !important;
		}
	}
}
