@import '../../../styles/variable.scss';

.loader {
	z-index: 20;
	svg {
		color: $color-primary !important;
	}

	&--full {
		display: flex;
		position: fixed;
		align-items: center;
		justify-content: center;
		width: 100% !important;
		height: 80vh !important;
		background-color: #fff;
	}

	&--width {
		width: 100% !important;
		text-align: center;
	}
}
