@import '../../../styles/variable.scss';

.btn-primary {
	background-color: $color-primary !important;
	font-size: 1.2rem !important;
	padding: 1.3rem 3rem !important;
	@media screen and (max-width: 600px) {
		padding: 2rem !important;
		font-size: 1.3rem !important;
	}

	svg {
		color: $color-background !important;
	}
}
