@import '../../../../styles/mixins.scss';
@import '../../../../styles/variable.scss';

.hero-section {
	@include section-padding;

	background-image: url(../../../../../public/images/background/hero.png);
	height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: $color-white;

	&__heading {
		font-size: 5rem;
		margin-bottom: 2rem;

		span {
			background-image: linear-gradient(to top, #eee 4%, transparent 4%);
		}
	}

	&__para {
		font-size: 2rem;
		width: 55%;
	}

	&__link {
		text-decoration: none;
		margin-top: 2.5rem !important;
	}

	&__explore-btn {
		padding: 1.3rem 3rem !important;
		font-size: 1.2rem !important;
	}
}
