@import '../../../styles/variable.scss';

.modal {
	display: flex;
	align-items: center;
	justify-content: center;

	&__content {
		min-height: 30%;
		min-width: 30%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $color-background;
		border-radius: 1rem;
	}
}
