.main-heading {
	font-size: 3.5rem;
	font-weight: bold;
	text-align: center;
	margin: 1rem !important;
}

.listing-heading {
	font-size: 2rem;
	font-weight: bold;
	margin: 1rem;
}

.account-page {
	&__buttons {
		button {
			margin: 0 2rem !important;
		}
	}

	&__location {
		height: 5rem !important;
		width: 4.5rem !important;
	}
}

.table_address {
	display: flex !important;
	align-items: center !important;
}
