@import '../../../../../styles/mixins.scss';

.admin-property-form {
	@include section-padding;

	&__input {
		margin-top: 1.5rem !important;

		input {
			font-size: 1.5rem !important;
		}

		label {
			font-size: 1.5rem !important;
			background-color: #fff;
		}

		// this is for helper text in other features field
		p {
			font-size: 1.3rem !important;
		}
	}

	&__select {
		margin: 2rem !important;
		font-size: 1.5rem !important;
		width: 20% !important;

		label {
			font-size: 1.5rem !important;
			background-color: #fff;
		}
	}

	textarea {
		font-size: 1.5rem !important;
	}

	&__upload-btn {
		margin: 2rem !important;
	}

	&__submit-btn {
		margin: 2rem !important;
	}
}
