@import '../../../styles/variable.scss';
@import '../../../styles/mixins.scss';

.nav {
	@include section-padding;

	display: flex;
	background-color: #fcfcfc;
	box-shadow: $shadow;
	align-items: center;
	justify-content: space-between;
	padding-top: 1rem;
	padding-bottom: 1rem;

	/* ---------------------------------- logo ---------------------------------- */
	&__logo {
		max-width: 5rem;
		height: 5rem;

		img {
			height: 100%;
			width: 100%;
		}
	}

	/* ---------------------------------- list ---------------------------------- */

	&__list {
		display: flex;
		list-style: none;
		align-items: center;
		justify-content: space-between;
		position: relative;

		li {
			font-size: 1.5rem;
			margin: 0 3rem;

			a {
				text-decoration: none;
				color: $color-black;
				transition: $transition;
				position: relative;

				&::after {
					content: '';
					transition: $transition;
					position: absolute;
					bottom: -3px;
					width: 0;
					left: 0;
					height: 2px;
					background-color: $color-primary;
				}

				&:hover {
					color: $color-primary;
					font-weight: 600;

					&::after {
						width: 100%;
					}
				}
			}
		}
	}

	/* --------------------------------- search --------------------------------- */

	&__search {
		display: flex;
		align-items: center;
		width: min-content;

		input {
			visibility: hidden;
			opacity: 0;
			width: 0;
			padding: 1rem;
			position: absolute;
			right: 0;
			background-color: $color-primary;
			box-shadow: $shadow;
			border: none;
			outline: none;
			border-radius: 0.5rem;
			font-size: 0.8rem;
			transition: $transition;
			color: $color-white;

			&::placeholder {
				color: $color-white;
			}
		}

		svg {
			width: 2rem;
			height: 2rem;
			transition: $transition;
			z-index: 3;
		}

		&:hover {
			input {
				visibility: visible;
				opacity: 1;
				width: 100%;
			}

			svg {
				fill: $color-white;
			}
		}
	}

	/* --------------------------------- buttons -------------------------------- */
	&__btns {
		display: flex;
		align-items: center;
		justify-content: space-between;

		svg {
			width: 3rem;
			height: 3rem;
			margin-right: 3rem;
			fill: $color-primary;

			&:hover {
				fill: $color-primary-dark;
			}
		}
	}
}
