@import '../../../styles/variable.scss';
@import '../../../styles/mixins.scss';

.nav {
	@include section-padding;

	display: flex;
	background-color: #fcfcfc;
	align-items: center;
	border-bottom: 0.5px solid $color-primary;
	justify-content: space-between;
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 100%;
	z-index: 10;

	/* ---------------------------------- ANCHOR logo ---------------------------------- */
	&__logo {
		max-width: 5rem;
		height: 5rem;

		img {
			height: 100%;
			width: 100%;
		}
	}

	/* ---------------------------------- ANCHOR list ---------------------------------- */

	&__list {
		display: flex;
		list-style: none;
		align-items: center;
		justify-content: space-between;
		position: relative;

		li {
			font-size: 1.5rem;
			margin: 0 3rem;

			&:not(.nav__search) {
				@media screen and (max-width: 600px) {
					display: none;
				}
			}

			a {
				text-decoration: none;
				color: $color-black;
				transition: $transition;
				position: relative;

				&::after {
					content: '';
					transition: $transition;
					position: absolute;
					bottom: -3px;
					width: 0;
					left: 0;
					height: 2px;
					background-color: $color-primary;
				}

				&:hover {
					color: $color-primary;
					font-weight: 600;

					&::after {
						width: 100%;
					}
				}
			}
		}
	}

	/* --------------------------------- ANCHOR search --------------------------------- */

	&__search {
		display: flex;
		align-items: center;
		width: min-content;

		@media screen and (max-width: 600px) {
			width: 25rem;
			margin: 0 !important;
			position: relative;
		}

		input {
			visibility: hidden;
			opacity: 0;
			width: 0;
			padding: 1rem;
			position: absolute;
			right: 0;
			background-color: $color-primary;
			box-shadow: $shadow;
			border: none;
			outline: none;
			border-radius: 0.5rem;
			font-size: 1.5rem;
			transition: $transition;
			color: $color-white;

			@media screen and (max-width: 600px) {
				visibility: visible;
				width: 100%;
				opacity: 1;
				box-shadow: none;
			}

			&::placeholder {
				color: $color-white;
				font-size: 2rem;
			}

			&::selection {
				background-color: $color-white !important;
				color: $color-primary !important;
			}
		}

		a {
			@media screen and (max-width: 600px) {
				position: absolute !important;
				right: 2rem;
			}
		}

		svg {
			width: 2rem;
			height: 2rem;
			transition: $transition;
			z-index: 3;

			@media screen and (max-width: 600px) {
				fill: $color-white;
			}
		}

		&:hover {
			input {
				visibility: visible;
				opacity: 1;
				width: 100%;
			}

			svg {
				fill: $color-white;
			}
		}
	}

	/* --------------------------------- ANCHOR buttons -------------------------------- */
	&__btns {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media screen and (max-width: 600px) {
			display: none;
		}

		svg {
			width: 3rem;
			height: 3rem;
			margin-right: 3rem;
			fill: $color-primary;

			&:hover {
				fill: $color-primary-dark;
			}
		}
	}

	&__hamburger-icon {
		display: none !important;
		width: 3rem !important;
		height: 3rem !important;
		fill: $color-primary !important;

		@media screen and (max-width: 600px) {
			display: block !important;
		}
	}
}

/* -------------------------------- ANCHOR hamburger ------------------------------- */
.hamburger {
	ul {
		padding: 5rem;
		list-style: none;

		li {
			margin: 3rem 0;

			a {
				font-size: 4rem;
				color: $color-primary !important;
			}
		}
	}
}
