$color-primary: #9e7160;
$color-primary-dark: #7f5a4d;
$color-secondary: #e1521b /* #383838*/;
$color-background: #f7f7f7;
$color-black: #0f0b09;
$color-white: #fff;
$category-bg: #1d293e;

$transition: all 0.5s ease;
$transition-fast: all 0.2s ease;

$shadow: 0 10px 10px 4px #eee;
$shadow-secondary: 2px 6px 20px 9px #eee;
