$color-primary: #9e7160;
$color-primary-dark: #7f5a4d;
$color-secondary: #383838 /* #54595F*/;
$color-black: #000;
$color-white: #fff;
$category-bg: #1d293e;
$bg:#f7f7f7;

$transition: all 0.5s ease;

$shadow: 0 10px 10px 4px #eee;
